<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/auth.css">
</head>
<body>
    <div class="container container-signup">
        <h2>Sign Up</h2>
        <div class="error" id="loginError"></div>
        <form id="form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="button" id="signup">Sign Up</button>
        </form>
    </div>
    <script src="../js/signup.js" type="module"></script>
</body>
</html>
